.container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    margin: 10% 12%;
    gap: 12px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button{
    font-family: 'Mulish', sans-serif;
}

li{
    font-family: 'Mulish', sans-serif;
}

p{
    font-family: 'Mulish', sans-serif;
}