.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 12%;
}

.navigation-logo {
  display: flex;
  align-items: center;
}

.navigation-logo-image {
  width: 100px;
}

.navigation-inputs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #FFF;
  border-radius: 6px;
  box-shadow: 0 0 4px 1px rgba(221, 220, 220, 0.534);
}

.navigation-location-select {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: #f2f2f2;
  outline: none;
}

.navigation-guests-input {
  padding: 10px;
  border: none;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
  outline: none;
  width: 100px;
}

.navigation-btn {
  cursor: pointer;
  height: 55px;
  border-radius: 0 16px 16px 0;
  background-color: #fff;
  border: none;
  padding: 0 15px;
}

.navigation-btn img {
  width: 24px;
}

.navigation-add-guests button {
  color: #BDBDBD;
}

.navigation-add-guests button:hover {
  color: #493d3d;
}

@media (max-width: 600px) {
  .navigation-container {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
  }

  .navigation-logo-image {
    width: 80px;
  }

  .navigation-inputs {
    flex-direction: column;
    margin: 20px 0;
    width: 90%;
  }

  .navigation-location-select,
  .navigation-guests-input,
  .navigation-btn {
    width: 100%;
    margin-top: 10px;
  }

  .navigation-btn {
    margin-top: 10px;
  }
}
